#concept{
	width: 100%;
	height: 970px;
	background: linear-gradient(180deg, #A193861F 0%, #A193861F 40%, #A1938689 40%, #A1938689 100%);

	@include tab{
		height: 711px;
		background: linear-gradient(180deg, #A193861F 0%, #A193861F 25%, #A1938689 25%, #A1938689 100%);
	}
}

.concept-wrap{
	width: 100%;
	height: 615px;
}

.concept-img{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 413px;

	@include tab{
		height: 205px;
	}

	&__1{
		width: 61%;
		height: 100%;
		object-fit: cover;
		object-position: right;

		@include tab{
			width: 49%;
		}
	}

	&__2{
		width: 37%;
		height: 100%;
		object-fit: cover;

		@include tab{
			width: 49%;
		}
	}
}

.concept-text{
	display: flex;
	justify-content: center;

	@include tab{
		flex-direction: column;
		justify-content: space-between;
	}

	&__title{
		font-size: 4rem;
		font-family: ヒラギノ明朝 Pro;
		color: #FFFFFF;
		width: 450px;
		margin-right: 50px;
		padding: 92px 0 60px;
		text-align: center;

		@include tab{
			font-size: 1.8rem;
			width: 200px;
			margin: 50px auto 18px;
			padding:0;
		}
	}

	&__desc{
		font-size: 1.6rem;
		width: 422px;
		height: 130px;
		margin-top: 69px;
		color: #FFFFFF;
		line-height: 27px;
		overflow: hidden;

		@include tab{
			width: 100%;
			height: 211px;
			margin-top: 0;
		}
	}
}