td {
  background-color: rgb(70, 206, 216);
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  padding: 1px;
  font-size: 20px;
}

/* チャレンジ問題 */

.hit-num {
  background-color: black ;
  color: rgb(70, 206, 216) ;
}

/* チャレンジ問題 ここまで */

/* 以下、エクストラ */
.text-content {
  display: flex;
}

.hitted-num {
  font-size: 25px;
}

#reach {
  font-size: 25px;
  color: red;
  margin-left: 30px;
}

#numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 500px;
  width: 300px;
}